<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>hands</title>
        <link rel="stylesheet" href="/webroot/css/style.css" type="text/css" media="screen, projection" />
        <script type="text/javascript" src="/webroot/js/lib/jquery.js"></script>
        <script type="text/javascript" src="/webroot/js/lib/Socket.IO/socket.io.js"></script>
        <script type="text/javascript" src="/webroot/js/lib/underscore/underscore-min.js"></script>
        <script type="text/javascript" src="/webroot/js/lib/backbone/backbone-min.js"></script>
        <script type="text/javascript" src="/webroot/js/models/hand.js"></script>
        <script type="text/javascript" src="/webroot/js/views/handview.js"></script>
        <script type="text/javascript" src="/webroot/js/brain.js"></script>
    </head>
    <body>
    </body>
</html>